@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #f3f6f9;
  height: 100vh;
}


.recharts-surface{
  border-radius: 0.75rem;
}

.pnk{
  background-image: linear-gradient(#ff677c, #fb23a2);
}
.bgg{
  background-image: linear-gradient(#1d72f1, #17c8fc);
}

.sd{
  box-shadow: 0px 7px 38px -6px rgba(0,0,0,0.1);
}

.recharts-dot{
  box-shadow: 0px 0px 0px 14px rgba(0,0,0,0.6);
}

::selection{
  background-color: white;
}


/* Add these styles to your CSS file or style block */
.fade-enter {
  opacity: 0;
  max-height: 0;
}

.fade-enter-active {
  opacity: 1;
  max-height: 500px; /* Adjust this value based on your content height */
  transition: all 500ms ease-in-out;
}

.fade-exit {
  opacity: 1;
  max-height: 500px; /* Adjust this value based on your content height */
}

.fade-exit-active {
  opacity: 0;
  max-height: 0;
  transition:0.3s ease-out;
}

.rr{
  top: 66%;
    left: 0%;
    z-index: 100;
}